#heading{
  text-transform: capitalize;
  font-size: 2em;
  line-height: 1;
  padding-bottom: 5%;
  color: #001d3d;
  
}

.app>.card{
  padding: 15%;

}
.card>h2{
  font-size: 1.5em;
  font-weight:100;
  line-height: 1.2;
  padding-top: 5%;
  text-transform: capitalize;
}
.card{
  transition: transform .1s;
}
.card:hover{
  transform: scale(1.05);
}

#oneCard{
  background-color: #edf2fb;
}